<div class="container mt-4">
<div class="d-flex justify-content-between align-items-center mb-4">

  <h4 class="mb-0">Liste des utilisateurs ({{users.length}})</h4>

  <div class="d-flex align-items-center gap-2">

    <input
      type="text"
      class="form-control form-control-sm"
      placeholder="Rechercher..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterUsers()"
      style="width:250px"
    />

    <button class="btn btn-light border btn-sm" (click)="sortUsers()"  [disabled]="users.length===0">
            <i class="bi bi-sort-alpha-down me-1"></i>
      Trier
    </button>

    <a class="btn btn-light border btn-sm" routerLink="/add-user">
      Ajouter
    </a>

  </div>

</div>
<p *ngIf="message" class="alert alert-success">{{message}}</p>
<div class="d-flex justify-content-between align-items-center mb-3">



</div>
<div *ngIf="users.length === 0" class="alert alert-info mt-3">
  Aucun utilisateur trouvé.
</div>

<ul *ngIf="users.length > 0" class="list-group mt-3">
  <li *ngFor="let user of filteredUsers" class="list-group-item d-flex justify-content-between align-items-center align-items-center">
    <div>
      <strong>{{ user.name }}</strong> <br>
      <small class="text-muted">{{ user.email }}</small>
    </div>
    <div>
    <button class="btn btn-danger btn-sm me-2" (click)="user.id!==undefined && deleteUser(user.id)">
      Supprimer
    </button>
    <button  class="btn btn-primary btn-sm" [routerLink]="['/users/edit',user.id]">
      Modifier
    </button>
    </div>
  </li>
</ul>
</div>